.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #D4101E;
    border: 1px solid #D4101E;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.2s linear 0s;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}
